<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission To Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Mars News</h2>
                <h5>{{mars.News_Title}}</h5>
                <p>{{mars.news_paragraphs}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 border">
                <h2>Featured Mars Image</h2>
                <img class="col-md-6 border" src="{{mars.featured_image}}" alt="Features Mars Image">
            </div>
        </div>
            <div class="box">
                <h3 class="">Mars Facts</h3>
                {{mars.mars_tables | safe}}
            </div>
        <div class="row">
            <div class="col col-12">

                <h2 class="align-items-center">Mars Hemisphere</h2>
                <hr>

                <div class="row">
                    {% for h in mars.mars_hemis %}


                    <img class="img-responsive" width="400px" height="400px" src="{{h.img_url}}">
                    <h4>{{h.title}}</h4>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>